@font-face {
  font-family: 'TitilliumWeb-Regular';
  src: url('./assets/fonts/PINGFANG\ BOLD.TTF');
}

@font-face {
  font-family: 'TitilliumWeb-Bold';
  src: url('./assets/fonts/Roboto-Bold.ttf');
}

body {
  /* background-color: #333f4f; */
  margin: 0;
  font-family: 'TitilliumWeb-Regular';
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}